@using JPStockPacking.Services.Helper
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["PageTitle"] = "หน้าแรก";
}

<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <h3>@ViewData["PageTitle"]</h3>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-user img-size-32 img-circle mr-2"></i>
                    <span>@User.GetUsername()?.ToLower()</span>
                </a>
@*                 <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-user mr-2"></i> Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-sign-out-alt mr-2"></i> Logout
                    </a>
                </div> *@
            </li>
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="@Url.Action("Index", "Home")" class="brand-link">
            <img src="~/img/logo.png" alt="JP" class="brand-image img-circle elevation-3" style="background-color: #FFFFFF; width: 45px; height: 45px; border-radius: 50%;">
            <span class="brand-text font-weight-light">JP StockPacking</span>
        </a>
        <div class="sidebar d-flex flex-column">
            <nav class="mt-2 d-flex flex-column flex-grow-1">
                <ul class="nav nav-pills nav-sidebar flex-column flex-grow-1" data-widget="treeview" role="menu" data-accordion="false">
                    @if (User.HasClaim("Menu", "ReceiveManagement"))
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-action="@Url.Action("ReceiveManagement", "Home")">
                                <i class="nav-icon fas fa-receipt"></i>
                                <p>ใบรับสินค้า (ลงบิล)</p>
                            </a>
                        </li>
                    }

                    @if (User.HasClaim("Menu", "OrderManagement"))
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-action="@Url.Action("OrderManagement", "Home")">
                                <i class="nav-icon fas fa-receipt"></i>
                                <p>สต็อกแพ็คกิ้ง</p>
                            </a>
                        </li>
                    }

                    @if (User.HasClaim("Menu", "CheckQtyToPack"))
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-action="@Url.Action("CheckQtyToPack", "Home")">
                                <i class="nav-icon fas fa-receipt"></i>
                                <p>แจ้งยอดบรรจุ</p>
                            </a>
                        </li>
                    }

                    <li class="nav-item mt-auto">
                        <a href="#" id="btnSignOut" class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>ออกจากระบบ</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="content-wrapper">
        <section class="content mt-2">
            <div id="content-container">
                <h1 class="text-center">Welcome to JP StockPacking System</h1>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-block">
            <b>Database Version</b> @ViewBag.DatabaseVersion
        </div>
        <div class="float-right d-none d-block pr-3">
            <b>App Version</b> @ViewBag.AppVersion
        </div>
        <p></p>
    </footer>

    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>

@section Scripts {
    <script>
        window.urlGetReceived = '@Url.Action("GetReceived", "Home")';
        window.urlOrderMarkAsRead = '@Url.Action("OrderMarkAsRead", "Home")';
        window.urlGetOrder = '@Url.Action("GetOrder", "Home")';
        window.urlUpdateLotItems = '@Url.Action("UpdateLotItems", "Home")';
        window.urlGetReceivedToAssign = '@Url.Action("GetReceivedToAssign", "Home")';
        window.urlGetTableMember = '@Url.Action("GetTableMember", "Home")';
        window.urlAssignToTable = '@Url.Action("AssignToTable", "Home")';
        window.urlGetTableToReturn = '@Url.Action("GetTableToReturn", "Home")';
        window.urlGetRecievedToReturn = '@Url.Action("GetRecievedToReturn", "Home")';
        window.urlReturnAssignment = '@Url.Action("ReturnAssignment", "Home")';
        window.urlImportOrder = '@Url.Action("ImportOrder", "Home")';
        window.urlLostAndRepair = '@Url.Action("LostAndRepair", "Home")';
        window.urlImportReceiveNo = '@Url.Action("ImportReceiveNo", "Home")';
        window.urlUpdateLotByRevNoItems = '@Url.Action("UpdateLotByRevNoItems", "Home")';
        window.urlGetOrderToSendQty = '@Url.Action("GetOrderToSendQty", "Home")';
        window.urlDefineToPack = '@Url.Action("DefineToPack", "Home")';
        window.urlGetTableMemberByAssignedID = '@Url.Action("GetTableMemberByAssignedID", "Home")';
        window.urlGetImage = '@Url.Action("GetImage", "Home")';
        window.urlSendQtyToPackReport = '@Url.Action("SendQtyToPackReport", "Home")';
        window.urlGetReceiveRow = '@Url.Action("GetReceiveRow", "Home")';
        window.urlCheckUser = '@Url.Action("CheckUser", "Home")';
        window.urlGetReceiveList = '@Url.Action("GetReceiveList", "Home")';
        window.urlAddNewBreakDescription = '@Url.Action("AddNewBreakDescription", "Home")';
        window.urlLostReport = '@Url.Action("LostReport", "Home")';
        window.urlBreakReport = '@Url.Action("BreakReport", "Home")';
        window.urlGetCustomLot = '@Url.Action("GetCustomLot", "Home")';
    </script>

    <script src="~/js/OrderManagement.js" asp-append-version="true"></script>
    <script src="~/js/CheckQtyToPack.js" asp-append-version="true"></script>
    <script src="~/js/ReceiveManagement.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function() {
            $('.nav-sidebar .nav-link').on('click', function(e) {
                e.preventDefault();
                var actionUrl = $(this).data('action');

                if (actionUrl) {
                    $('.nav-sidebar .nav-link').removeClass('active');
                    $(this).addClass('active');

                    $('#content-container').html('<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>');

                    $.get(actionUrl, function(data) {
                        $('#content-container').html(data);
                        var title = $('#content-container').find('#page-title').data('title');
                        if (title) {
                            $('.navbar-nav h3').text(title);
                        }
                    }).fail(function() {
                        $('#content-container').html('<div class="alert alert-danger">Error loading content. Please try again.</div>');
                    });
                }
            });

            $('#btnSignOut').on('click', function(e) {
                e.preventDefault();
                $('#loadingIndicator').show();
                $.post('@Url.Action("Logout", "Auth")', function(res) {
                    window.location.href = res.redirectUrl;
                });
            });
        });
    </script>
}