@model List<JPStockPacking.Models.FormulaModel>
@{

}

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="accordion" id="accordionFilter">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFilter">
                            <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                                <strong>Find By</strong>
                            </button>
                        </h2>
                        <div id="collapseFilter" class="accordion-collapse collapse" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Formula Name</label>
                                            <input type="text" id="txt" class="form-control" placeholder="Formula Name">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-secondary" onclick="">Clear</button>
                                <button class="btn btn-primary" onclick="">Find</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card d-flex">
            <div class="card-header justify-content-between align-content-center">
                <div class="justify-content-center">
                    <h3 class="card-title">Formula List</h3>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" onclick="showAddFormulaModal()"><i class="fas fa-user-plus"></i> add new formula</button>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0" style="height:87vh">
                <table id="tbl-main" class="table table-bordered table-striped table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th class="text-center" rowspan="2" style="width: 50px;">#</th>
                            <th class="text-left" rowspan="2" style="width: 150px;">Formula Name</th>
                            <th class="text-center" rowspan="2" style="width: 100px;">Customer<br>Group</th>
                            <th class="text-center" rowspan="2" style="width: 100px;">Pack<br>Method</th>
                            <th class="text-center" rowspan="2" style="width: 100px;">Product<br>Type</th>
                            <th class="text-center" colspan="5">Variable</th>
                            <th class="text-center" rowspan="2" style="width: 100px;">Status</th>
                            <th class="text-center" rowspan="2" style="width: 220px;">Options</th>
                        </tr>
                        <tr>
                            <th class="text-right" style="width: 90px;">Item Count</th>
                            <th class="text-right" style="width: 80px;">P1</th>
                            <th class="text-right" style="width: 80px;">P2</th>
                            <th class="text-right" style="width: 80px;">Average</th>
                            <th class="text-right" style="width: 80px;">Item/Sec</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-body-formula">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">#</td>
                                <td class="text-left">@item.Name</td>
                                <td class="text-center">@item.CustomerGroup</td>
                                <td class="text-center">@item.PackMethod</td>
                                <td class="text-center">@item.ProductType</td>
                                <td class="text-right">@item.Items</td>
                                <td class="text-right">@item.P1</td>
                                <td class="text-right">@item.P2</td>
                                <td class="text-right">@item.Avg</td>
                                <td class="text-right">@item.ItemPerSec</td>
                                <td class="text-center">
                                    @if (item.IsActive)
                                    {
                                        <span class="badge badge-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Disabled</span>
                                    }
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-info btn-sm" onclick="showEditFormulaModal(@item.FormulaID)">
                                        <i class="fas fa-pen-square"></i> Edit
                                    </button>
                                    @if (item.IsActive)
                                    {
                                        <button class="btn btn-danger btn-sm" onclick="toggleFormulaStatus(@item.FormulaID)">
                                            <i class="fas fa-window-close"></i> Disabled
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-sm" onclick="toggleFormulaStatus(@item.FormulaID)">
                                            <i class="fas fa-check-square"></i> Active
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-formula">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Formula</h4>
                <button type="button" class="close" onclick="CloseModal()" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-4 mt-2">
                                    <label>Formula Name</label>
                                    <input type="text" id="txtFormulaName" class="form-control" placeholder="Enter Name">
                                </div>
                                <div class="col-4 mt-2">
                                    <label>Customer Group</label>
                                    <select id="ddlCustomerGroup" name="ddlCustomerGroup" class="form-control" style="width: 100%">
                                        <option value="" selected>-- Select Group --</option>
                                        @foreach (var group in ViewBag.CustomerGroups)
                                        {
                                            <option value="@group.CustomerGroupId">(@group.CustomerGroupId) @group.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-4 mt-2">
                                    <label>Product Type</label>
                                    <select id="ddlProductType" name="ddlProductType" class="form-control" style="width: 100%">
                                        <option value="" selected>-- Selcet Product --</option>
                                        @foreach (var group in ViewBag.ProductionTypes)
                                        {
                                            <option value="@group.ProductTypeId">(@group.ProductTypeId) @group.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-4 mt-2">
                                    <label>Pack Method</label>
                                    <select id="ddlPackMethod" name="ddlPackMethod" class="form-control" style="width: 100%">
                                        <option value="" selected>-- Select Method --</option>
                                        @foreach (var group in ViewBag.PackMethods)
                                        {
                                            <option value="@group.PackMethodId">(@group.PackMethodId) @group.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-4 mt-2">
                                    <label>Item Count</label>
                                    <input type="number" step="any" min="0" max="1000000" id="txtItemCount" class="form-control" >
                                </div>
                                <div class="col-4 mt-2">
                                    <label>P1</label>
                                    <input type="number" step="any" min="0" max="1000000" id="txtP1" class="form-control">
                                </div>
                                <div class="col-4 mt-2">
                                    <label>P2</label>
                                    <input type="number" step="any" min="0" max="1000000" id="txtP2" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" onclick="CloseModal()">Close</button>
                <button type="button" id="btnConfirmAddFormula" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-formula">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Formula</h4>
                <button type="button" class="close" onclick="CloseModal()" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="editFormulaId" />

                <div class="card card-default">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-4 mt-2">
                                <label>Formula Name</label>
                                <input type="text" id="txtEditFormulaName" class="form-control">
                            </div>

                            <div class="col-4 mt-2">
                                <label>Customer Group</label>
                                <select id="ddlEditCustomerGroup" class="form-control" style="width: 100%">
                                    <option value="">-- Select Group --</option>
                                    @foreach (var group in ViewBag.CustomerGroups)
                                    {
                                        <option value="@group.CustomerGroupId">(@group.CustomerGroupId) @group.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="col-4 mt-2">
                                <label>Product Type</label>
                                <select id="ddlEditProductType" class="form-control" style="width: 100%">
                                    <option value="">-- Select Product --</option>
                                    @foreach (var group in ViewBag.ProductionTypes)
                                    {
                                        <option value="@group.ProductTypeId">(@group.ProductTypeId) @group.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="col-4 mt-2">
                                <label>Pack Method</label>
                                <select id="ddlEditPackMethod" class="form-control" style="width: 100%">
                                    <option value="">-- Select Method --</option>
                                    @foreach (var group in ViewBag.PackMethods)
                                    {
                                        <option value="@group.PackMethodId">(@group.PackMethodId) @group.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="col-4 mt-2">
                                <label>Item Count</label>
                                <input type="number" step="any" min="0" max="1000000" id="txtEditItemCount" class="form-control">
                            </div>

                            <div class="col-4 mt-2">
                                <label>P1</label>
                                <input type="number" step="any" min="0" max="1000000" id="txtEditP1" class="form-control">
                            </div>

                            <div class="col-4 mt-2">
                                <label>P2</label>
                                <input type="number" step="any" min="0" max="1000000" id="txtEditP2" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" onclick="CloseModal()">Close</button>
                <button type="button" id="btnConfirmEditFormula" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="page-title" data-title="จัดการสูตรคำนวน"></div>