@model List<JPStockPacking.Models.CustomOrder>

@{
    var index = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="accordion" id="accordionFilter">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFilter">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                                <strong>Find By</strong>
                            </button>
                        </h2>
                        <div id="collapseFilter" class="accordion-collapse collapse" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>From Date</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>To Date</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary">Find</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Order List</h3>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionExample1">
@*                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="col-md-4"><strong>CCJ82 / 25000491 <i class="fas fa-fire-alt" style="color: red;"></i> <i class="fas fa-award" style="color: purple;"></i></strong></div>
                                    <div class="col-md-4"><i class="fas fa-calendar-alt"></i> 15/12/2012 - 17/12/2012</div>
                                    <div class="col-md-2" style="color: orange;"><i class="fas fa-boxes"></i> 1/4</div>
                                    <div class="col-md-2" style="color: red;"><i class="fas fa-stopwatch"></i> <strong>1 Day</strong></div>
                                    <div></div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                            <div class="accordion-body" style="overflow: auto;">
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%">
                                                #
                                            </th>
                                            <th style="width: 20%">
                                                Lot No
                                            </th>
                                            <th style="width: 10%">
                                                List No
                                            </th>
                                            <th style="width: 25%">
                                                Assign To
                                            </th>
                                            <th>
                                                Lot Received
                                            </th>
                                            <th style="width: 8%" class="text-center">
                                                Status
                                            </th>
                                            <th style="width: 20%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010702
                                                </a>
                                                <br />
                                                <small>
                                                    Updated 01.01.2019
                                                </small>
                                            </td>
                                            <td>
                                                1.1
                                            </td>
                                            <td>

                                                <a>
                                                    Table 1 (Jun)
                                                </a>
                                                <br />
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a><strong>Jun</strong></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>New</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Keaw</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Sax</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>JakaJun</a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    </div>
                                                </div>
                                                <small>
                                                    1000/1000 (100%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-warning">Packing</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-danger btn-sm" onclick="showModalReturn()">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Return
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010703
                                                </a>
                                                <br />
                                                <small>
                                                    Updated 01.03.2019
                                                </small>
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <a>
                                                    -
                                                </a>

                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                    </div>
                                                </div>
                                                <small>
                                                    250/500 (50%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-secondary">Waiting</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-primary btn-sm" onclick="showModalAssign()">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Assign
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010704
                                                </a>
                                                <br />
                                                <small>
                                                    Updated 01.06.2019
                                                </small>
                                            </td>
                                            <td>
                                                10
                                            </td>
                                            <td>

                                                <a>
                                                    Table 3 (Tay)
                                                </a>
                                                <br />
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a><strong>Tay</strong></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Pung</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Pa</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Nagn</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Koy</a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    </div>
                                                </div>
                                                <small>
                                                    200/200 (100%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-success">Success</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-info btn-sm" onclick="showModalSendTo()">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Send
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010705
                                                </a>
                                                <br />
                                                <small>
                                                    Updated 01.06.2019
                                                </small>
                                            </td>
                                            <td>
                                                12
                                            </td>
                                            <td>

                                                <a>
                                                    -
                                                </a>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    </div>
                                                </div>
                                                <small>
                                                    600/600 (100%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-primary">Ready</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-primary btn-sm" onclick="showModalAssign()">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Assign
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="headingOne2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="col-md-4"><strong>CCJ82 / 25000492 <i class="fas fa-fire-alt" style="color: red;"></i> <i class="fas fa-award" style="color: purple;"></i> <span class="badge bg-warning">UPDATE</span></strong></div>
                                    <div class="col-md-4"><i class="fas fa-calendar-alt"></i> 15/12/2012 - 17/12/2012</div>
                                    <div class="col-md-2" style="color: orange;"><i class="fas fa-boxes"></i> 1/3</div>
                                    <div class="col-md-2" style="color: orange;"><i class="fas fa-stopwatch"></i> <strong>3 Days</strong></div>
                                    <div></div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne2" data-bs-parent="#accordionExample1">
                            <div class="accordion-body" style="overflow: auto;">
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%">
                                                #
                                            </th>
                                            <th style="width: 20%">
                                                Lot No
                                            </th>
                                            <th style="width: 10%">
                                                List No
                                            </th>
                                            <th style="width: 25%">
                                                Assign To
                                            </th>
                                            <th>
                                                Lot Received
                                            </th>
                                            <th style="width: 8%" class="text-center">
                                                Status
                                            </th>
                                            <th style="width: 20%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010702
                                                </a>
                                                <br />
                                                <small>
                                                    Updated 01.01.2019
                                                </small>
                                            </td>
                                            <td>
                                                1.1
                                            </td>
                                            <td>

                                                <a>
                                                    Table 1 (Jun)
                                                </a>
                                                <br />
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a><strong>Jun</strong></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>New</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Keaw</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Sax</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>JakaJun</a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    </div>
                                                </div>
                                                <small>
                                                    1000/1000 (100%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-warning">Packing</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-danger btn-sm" onclick="showModalReturn()">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Return
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010703 <span class="badge bg-warning">UPDATE</span>
                                                </a>
                                                <br />
                                                <small>
                                                    Updated 01.03.2019
                                                </small>
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <a>
                                                    -
                                                </a>

                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                    </div>
                                                </div>
                                                <small>
                                                    250/500 (50%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-secondary">Waiting</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-warning btn-sm" onclick="showModalUpdate()">
                                                    <i class="fas fa-pencil-alt"></i>
                                                    Update Lot
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010704
                                                </a>
                                                <br />
                                                <small>
                                                    Updated 01.06.2019
                                                </small>
                                            </td>
                                            <td>
                                                10
                                            </td>
                                            <td>

                                                <a>
                                                    Table 3 (Tay)
                                                </a>
                                                <br />
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a><strong>Tay</strong></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Pung</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Pa</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Nagn</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a>Koy</a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    </div>
                                                </div>
                                                <small>
                                                    200/200 (100%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-success">Success</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-info btn-sm" onclick="showModalSendTo()">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Send
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="col-md-4"><strong>CCJ82 / 25000493 <i class="fas fa-fire-alt" style="color: red;"></i> <i class="fas fa-award" style="color: purple;"></i> <span class="badge bg-danger">NEW</span></strong></div>
                                    <div class="col-md-4"><i class="fas fa-calendar-alt"></i> 15/12/2012 - 17/12/2012</div>
                                    <div class="col-md-2" style="color: gray;"><i class="fas fa-boxes"></i> 0/3</div>
                                    <div class="col-md-2" style="color: green;"><i class="fas fa-stopwatch"></i> <strong>5 Days</strong></div>
                                    <div></div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample1">
                            <div class="accordion-body" style="overflow: auto;">
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%">
                                                #
                                            </th>
                                            <th style="width: 20%">
                                                Lot No
                                            </th>
                                            <th style="width: 10%">
                                                List No
                                            </th>
                                            <th style="width: 25%">
                                                Assign To
                                            </th>
                                            <th>
                                                Lot Received
                                            </th>
                                            <th style="width: 8%" class="text-center">
                                                Status
                                            </th>
                                            <th style="width: 20%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010702
                                                </a>
                                                <br />
                                                <small>
                                                    Updated -
                                                </small>
                                            </td>
                                            <td>
                                                1.1
                                            </td>
                                            <td>
                                                <a>
                                                    -
                                                </a>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    </div>
                                                </div>
                                                <small>
                                                    0/1000 (0%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-secondary">Waiting</span>
                                            </td>
                                            <td class="project-actions text-right">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010703
                                                </a>
                                                <br />
                                                <small>
                                                    Updated -
                                                </small>
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <a>
                                                    -
                                                </a>

                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    </div>
                                                </div>
                                                <small>
                                                    0/500 (0%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-secondary">Waiting</span>
                                            </td>
                                            <td class="project-actions text-right">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010704
                                                </a>
                                                <br />
                                                <small>
                                                    Updated -
                                                </small>
                                            </td>
                                            <td>
                                                10
                                            </td>
                                            <td>
                                                <a>
                                                    -
                                                </a>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    </div>
                                                </div>
                                                <small>
                                                    0/200 (0%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-secondary">Waiting</span>
                                            </td>
                                            <td class="project-actions text-right">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="col-md-4"><strong>CCJ82 / 25000494 <i class="fas fa-fire-alt" style="color: red;"></i> <i class="fas fa-award" style="color: purple;"></i> <span class="badge bg-danger">NEW</span> <span class="badge bg-warning">UPDATE</span></strong></div>
                                    <div class="col-md-4"><i class="fas fa-calendar-alt"></i> 15/12/2012 - 17/12/2012</div>
                                    <div class="col-md-2" style="color: gray;"><i class="fas fa-boxes"></i> 0/3</div>
                                    <div class="col-md-2" style="color: dodgerblue;"><i class="fas fa-stopwatch"></i> <strong>7 Days</strong></div>
                                    <div></div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample1">
                            <div class="accordion-body" style="overflow: auto;">
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%">
                                                #
                                            </th>
                                            <th style="width: 20%">
                                                Lot No
                                            </th>
                                            <th style="width: 10%">
                                                List No
                                            </th>
                                            <th style="width: 25%">
                                                Assign To
                                            </th>
                                            <th>
                                                Lot Received
                                            </th>
                                            <th style="width: 8%" class="text-center">
                                                Status
                                            </th>
                                            <th style="width: 20%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010702 <span class="badge bg-warning">UPDATE</span>
                                                </a>
                                                <br />
                                                <small>
                                                    Updated -
                                                </small>
                                            </td>
                                            <td>
                                                1.1
                                            </td>
                                            <td>
                                                <a>
                                                    -
                                                </a>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    </div>
                                                </div>
                                                <small>
                                                    0/1000 (0%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-secondary">Waiting</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-warning btn-sm" onclick="showModalUpdate()">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Update Lot
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010703 <span class="badge bg-warning">UPDATE</span>
                                                </a>
                                                <br />
                                                <small>
                                                    Updated -
                                                </small>
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <a>
                                                    -
                                                </a>

                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    </div>
                                                </div>
                                                <small>
                                                    0/500 (0%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-secondary">Waiting</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-warning btn-sm" onclick="showModalUpdate()">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Update Lot
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                <a>
                                                    2500010704 <span class="badge bg-warning">UPDATE</span>
                                                </a>
                                                <br />
                                                <small>
                                                    Updated -
                                                </small>
                                            </td>
                                            <td>
                                                10
                                            </td>
                                            <td>
                                                <a>
                                                    -
                                                </a>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    </div>
                                                </div>
                                                <small>
                                                    0/200 (0%)
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-secondary">Waiting</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button class="btn btn-warning btn-sm" onclick="showModalUpdate()">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Update Lot
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> *@

                    @* render result *@
                    @foreach (var order in Model)
                    {
                        <div class="accordion-item mt-2">
                            <h2 class="accordion-header" id="heading@(index)">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(index)" aria-expanded="false" aria-controls="collapse@(index)">
                                    <div class="d-flex justify-content-between w-100">
                                        <div class="col-md-4"><strong>@order.OrderNo / @order.CustCode @Html.Raw(order.IsNew == true ? "<span class='badge bg-danger'>NEW</span>" : "") @Html.Raw(order.IsUpdate == true ? "<span class='badge bg - warning'>UPDATE</span>" : "")</strong></div>
                                        <div class="col-md-4"><i class="fas fa-calendar-alt"></i> @order.OrdDate.ToShortDateString() - @order.SeldDate1.ToShortDateString()</div>
                                        <div class="col-md-2" style="color: gray;"><i class="fas fa-boxes"></i> @order.CompleteLot/@order.TotalLot</div>
                                        <div class="col-md-2" style="color: dodgerblue;"><i class="fas fa-stopwatch"></i> <strong>@order.OperateDays Days</strong></div>
                                        <div></div>
                                    </div>
                                </button>
                            </h2>
                            <div id="collapse@(index)" class="accordion-collapse collapse" aria-labelledby="heading@(index)" data-bs-parent="#accordionExample1">
                                <div class="accordion-body" style="overflow: auto;">
                                    <table class="table table-striped projects">
                                        <thead>
                                            <tr>
                                                <th style="width: 1%">
                                                    #
                                                </th>
                                                <th style="width: 20%">
                                                    Lot No
                                                </th>
                                                <th style="width: 10%">
                                                    List No
                                                </th>
                                                <th style="width: 25%">
                                                    Assign To
                                                </th>
                                                <th>
                                                    Lot Received
                                                </th>
                                                <th style="width: 8%" class="text-center">
                                                    Status
                                                </th>
                                                <th style="width: 20%">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var lot in order.CustomLot)
                                            {
                                                <tr>
                                                    <td>
                                                        #
                                                    </td>
                                                    <td>
                                                        <a>
                                                            @lot.LotNo @Html.Raw(lot.IsUpdate ? "<span class='badge bg-warning'>UPDATE</span>" : "")
                                                        </a>
                                                        <br />
                                                        <small>
                                                            Updated - @(lot.UpdateDate.ToString("dd-MM-yyyy") ?? "N/A")
                                                        </small>
                                                    </td>
                                                    <td>
                                                        @lot.ListNo
                                                    </td>
                                                    <td>
                                                        <a>
                                                            -
                                                        </a>
                                                    </td>
                                                    <td class="project_progress">
                                                        <div class="progress progress-sm">
                                                            @{
                                                                var percent = lot.TtQty > 0 ? (lot.ReceivedQty * 100 / lot.TtQty) : 0;
                                                            }
                                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @(percent)%">
                                                            </div>
                                                        </div>
                                                        <small>
                                                            @lot.ReceivedQty / @lot.TtQty (@percent%)
                                                        </small>
                                                    </td>
                                                    <td class="project-state">
                                                        <span class="badge badge-secondary">Waiting</span>
                                                    </td>
                                                    <td class="project-actions text-right">
                                                        @Html.Raw(lot.IsUpdate ? "<button class='btn btn - warning btn - sm' onclick='showModalUpdate()'><i class='fas fa - pencil - alt'></i>Update Lot</button>" : "")
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        index += 1;
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-update">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Lot : 2500010703</h4>
                <button type="button" class="close" onclick="CloseModal()" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>ReceivedNo</th>
                                <th>LotNo</th>
                                <th>OrderNo</th>
                                <th>ListNo</th>
                                <th>Article</th>
                                <th>Ttqty</th>
                                <th>Ttwg</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>25RS070074</td>
                                <td>2500010703</td>
                                <td>25000492</td>
                                <td>2</td>
                                <td>220550111.6.1</td>
                                <td>200</td>
                                <td>100.57</td>
                            </tr>
                            <tr>
                                <td>25RS070075</td>
                                <td>2500010703</td>
                                <td>25000492</td>
                                <td>2</td>
                                <td>220550111.6.1</td>
                                <td>35</td>
                                <td>50.57</td>
                            </tr>
                            <tr>
                                <td>25RS070076</td>
                                <td>2500010703</td>
                                <td>25000492</td>
                                <td>2</td>
                                <td>220550111.6.1</td>
                                <td>15</td>
                                <td>25.57</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" onclick="CloseModal()">Close</button>
                <button type="button" class="btn btn-warning">Update Lot</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-assign">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assigning Lot : 2500010703</h4>
                <button type="button" class="close" onclick="CloseModal()" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="mb-2">Select ReceivedNo</h5>
                <div class="card-body table-responsive p-0" style="height: 200px; overflow: auto;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>ReceivedNo</th>
                                <th>LotNo</th>
                                <th>OrderNo</th>
                                <th>ListNo</th>
                                <th>Article</th>
                                <th>Ttqty</th>
                                <th>Ttwg</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>25RS070074</td>
                                <td>2500010703</td>
                                <td>25000492</td>
                                <td>2</td>
                                <td>220550111.6.1</td>
                                <td>200</td>
                                <td>100.57</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary1">
                                        <label for="checkboxPrimary1">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>25RS070075</td>
                                <td>2500010703</td>
                                <td>25000492</td>
                                <td>2</td>
                                <td>220550111.6.1</td>
                                <td>35</td>
                                <td>50.57</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary2">
                                        <label for="checkboxPrimary2">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>25RS070076</td>
                                <td>2500010703</td>
                                <td>25000492</td>
                                <td>2</td>
                                <td>220550111.6.1</td>
                                <td>15</td>
                                <td>25.57</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary3">
                                        <label for="checkboxPrimary3">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="mt-4 mb-2">Select Table</h5>
                <div class="card-body" style="overflow: auto;">
                    <select class="custom-select rounded-0" id="exampleSelectRounded0">
                        <option value="" selected>- Select Table -</option>
                        <option value="">Table 1 (Jun)</option>
                        <option value="">Table 2 (Ree)</option>
                        <option value="">Table 3 (Tay)</option>
                    </select>
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Suchila (Jun)</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary4">
                                        <label for="checkboxPrimary4">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Temsiri (JukaJun)</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary5">
                                        <label for="checkboxPrimary5">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Nada (New)</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary6">
                                        <label for="checkboxPrimary6">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Paweena (Keaw)</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary7">
                                        <label for="checkboxPrimary7">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Rattasart (Sax)</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary8">
                                        <label for="checkboxPrimary8">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" onclick="CloseModal()">Close</button>
                <button type="button" class="btn btn-primary">Assign</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-return">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Return Lot : 2500010702 From Table 1 (Jun)</h4>
                <button type="button" class="close" onclick="CloseModal()" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-default" style="overflow: auto;">
                    <div class="card-header">
                        <h3 class="card-title">Assigning ReceivedNo</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>ReceivedNo</th>
                                        <th>LotNo</th>
                                        <th>OrderNo</th>
                                        <th>ListNo</th>
                                        <th>Article</th>
                                        <th>Ttqty</th>
                                        <th>Ttwg</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>25RS070074</td>
                                        <td>2500010703</td>
                                        <td>25000492</td>
                                        <td>2</td>
                                        <td>220550111.6.1</td>
                                        <td>200</td>
                                        <td>100.57</td>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="checkboxPrimary9" checked disabled>
                                                <label for="checkboxPrimary9">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>25RS070075</td>
                                        <td>2500010703</td>
                                        <td>25000492</td>
                                        <td>2</td>
                                        <td>220550111.6.1</td>
                                        <td>35</td>
                                        <td>50.57</td>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="checkboxPrimary10" checked disabled>
                                                <label for="checkboxPrimary10">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>25RS070076</td>
                                        <td>2500010703</td>
                                        <td>25000492</td>
                                        <td>2</td>
                                        <td>220550111.6.1</td>
                                        <td>15</td>
                                        <td>25.57</td>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="checkboxPrimary11" checked disabled>
                                                <label for="checkboxPrimary11">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Assigning Table</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <select class="custom-select rounded-0" id="exampleSelectRounded0" disabled>
                                <option value="">- Select Table -</option>
                                <option value="" selected>Table 1 (Jun)</option>
                                <option value="">Table 2 (Ree)</option>
                                <option value="">Table 3 (Tay)</option>
                            </select>
                            <table class="table table-head-fixed text-nowrap mt-2">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Suchila (Jun)</td>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="checkboxPrimary12" checked disabled>
                                                <label for="checkboxPrimary12">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Temsiri (JukaJun)</td>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="checkboxPrimary13" checked disabled>
                                                <label for="checkboxPrimary13">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nada (New)</td>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="checkboxPrimary14" checked disabled>
                                                <label for="checkboxPrimary14">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Paweena (Keaw)</td>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="checkboxPrimary15" checked disabled>
                                                <label for="checkboxPrimary15">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rattasart (Sax)</td>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="checkboxPrimary16" checked disabled>
                                                <label for="checkboxPrimary16">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Return Detail</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-3">
                                    <label>Return</label>
                                    <input type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="col-3 mt-2">
                                    <label>Lost</label>
                                    <input type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="col-3 mt-2">
                                    <label>Break</label>
                                    <input type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="col-3 mt-2">
                                    <label>Total</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" onclick="CloseModal()">Close</button>
                <button type="button" class="btn btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Sendto">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send Lot : 2500010703 To</h4>
                <button type="button" class="close" onclick="CloseModal()" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Return Detail</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-3">
                                    <label>Send To Store</label>
                                    <input type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="col-3 mt-2">
                                    <label>Send to Refine</label>
                                    <input type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="col-3 mt-2">
                                    <label>Center Amount</label>
                                    <input type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="col-3 mt-2">
                                    <label>Total</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" onclick="CloseModal()">Close</button>
                <button type="button" class="btn btn-info">Send</button>
            </div>
        </div>
    </div>
</div>

<div id="page-title" data-title="Order Management"></div>